<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="at.campus02.GolfApp"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:targetSdkVersion="8" android:minSdkVersion="8" android:maxSdkVersion="8"></uses-sdk>

    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name=".GolfApp"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="GolfAppDeleteRound" android:label="@string/deleteRound"></activity>        
        <activity android:name="GolfAppResult" android:label="@string/resultSum"></activity>
        <activity android:name="GolfAppSetShotsForHolePlayer" android:label="@string/setShots"></activity>
        <activity android:name="GolfAppSetShotsForHole" android:label="@string/setShots"></activity>
        <activity android:name=".GolfAppPlayRound" android:label="@string/playRound"></activity>
        <activity android:name=".player.GolfAppPlayer" android:label="@string/managePlayer"></activity>
        <activity android:name=".player.GolfAppSelectPlayer" android:label="@string/selectPlayer"></activity>
        <activity android:name=".player.GolfAppAddPlayer" android:label="@string/addPlayer"></activity>
        <activity android:name=".course.GolfAppCourse" android:label="@string/golfCourse"></activity>

    </application>
</manifest>
